{% extends "layout.html" %}
{% block content %}
     <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Suggestions</legend>
                <div class="form-group">
                    {{ form.url.label(class="form-control-label") }}

                    {% if form.url.errors %}
                        {{ form.url(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.url.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.url(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

            {% for article in articles %}
            <article class="media content-section">
                  <div class="media-body">
                    <div class="article-metadata">
                        <h2 class="mr-2" href="#">{{ article.article }}</h2>

                    </div>
                    <div>
                        <p class="article-content">{{ article.content }}</p>
                        <p><a class="article-title" href="#">{{ article.link }}</a></p>
                    </div>
                  </div>
                </article>
        {% endfor %}
        </form>
    </div>

{% endblock content %}